
 
body{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background-image: url(https://tse4.mm.bing.net/th/id/OIP.iXyG5R7vHFgvegSXBoJLjwAAAA?w=400&h=400&rs=1&pid=ImgDetMain&o=7&rm=3);
 }
.outer{
  backdrop-filter: blur(20px) saturate(140%);
  -webkit-backdrop-filter: blur(20px) saturate(140%);
  background-color: rgba(135, 118, 134, 0.523);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(rgb(180, 163, 183) , rgb(193, 162, 195) , rgb(198, 180, 198));
  
  align-items: center;
  width: 60%;
  height: 500px;
  box-shadow: rgba(77, 77, 80, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(255, 255, 255, 0.415) 0px -2px 6px 0px inset;
  margin-top: 50px;
  border-radius: 300px;
  
}

#robot{
  margin-top: 3%;
  width: 30%;
  height: 250px;
  border-radius: 100px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  
}

.p1{
  margin-top: 2%;
  font-size: 20px;
 font-weight: bold; 
 color: aliceblue;
 font-family: cursive;
  
  
}

#coco{
  margin-top: 2%;
  font-size: 35px;
 font-weight: bold; 
 color: rgb(77, 15, 91);
 font-family: cursive;
  
  
}
#VA{
  margin-top: 2%;
  font-size: 25px;
 font-weight: bold; 
 color: rgb(126, 75, 133);
 font-family: cursive;
  
  
}

#voice {
  width: 100px;
  height: 100px;
  display: none;
}

#btn {
  width: 20%;
  height: 10%;
  margin-top: 1%;
  background: #62456f;
  background: -webkit-linear-gradient(to right, #f7b733, #fc4a1a);
  background: linear-gradient(to right, #d0b5d4, #773f79);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 20px;
  font-weight: 600;
  color: rgb(59, 37, 78);
  border-radius: 360px;
  border: none;
  cursor: pointer;
  box-shadow: 2px 2px 5px #edeae9, 2px 2px 5px #280a35;
  transition: all 1s;
}

footer {
  color: rgb(80, 78, 78);
  margin-top: 20px;
  font-weight: 800;
}

#btn:hover {
  box-shadow: 2px 2px 10px #1a1817, 2px 2px 10px #453153;
  letter-spacing: 2px;
}

 @media  screen and (max-width: 1200px) {
   #btn {
  width: 30%;
  height: 20%;
  margin-top: 1%;}
  }

  


@media  screen and (max-width: 800px) {
   .card {
    width: 90%;
    height: 400px;
  }

  #robot{
  margin-top: 7%;
  width: 50%;
  height: 200px;
  border-radius: 100px;
  
  
}


.p1{
  margin-top: 2%;
  font-size: 15px;
 font-weight: bold; 
 color: aliceblue;
 font-family: cursive;
  
  
}

#btn {
  width: 40%;
  height: 20%;
  margin-top: 1%;
  
}
  
}
